:root{
    --branco: #ffffff;
    --preto: #1D2125;
    --preto-hover: #333;
    --amarelo-claro: #FFFCF2;
    --amarelo-escuro: #736637;
    --amarelo-modal-borda: #7C4F0B;
    --amarelo-modal-toggle: #9D7D12;
    --cinza-claro: #525D6B;
    --main-bg-amarelo: #FFF6D6;
    --bg-dash: #BFAA5C;
}