.bg-main {
    background-color: var(--main-bg-amarelo);
    padding: 1rem;
    width: 100%;
}

.main-content {
    background-color: var(--bg-dash);
    border-radius: 12px;
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.container-bem-vindo-txt h1{
    font-family: fontBold;
    font-size: 20px;
}

.container-bem-vindo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-operacoes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.btn-add-cliente, 
.btn-add-servico, 
.btn-add-orcamento {
    font-size: 16px;
    font-family: fontBold;

    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: solid 1px var(--amarelo-modal-borda);
    border-radius: 12px; 
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.btn-add-cliente {
    color: var(--amarelo-modal-borda);
    background-color: transparent;
}

.btn-add-cliente:hover,
.btn-add-orcamento:hover,
.btn-add-servico:hover{
    background-color: var(--amarelo-modal-toggle);
    color: var(--branco);
    border: solid 1px var(--preto);;
}

.btn-add-servico,
.btn-add-orcamento {
    background-color: transparent;
    color: var(--amarelo-modal-borda);
}

.btn-add-cliente:hover .user-icon{
    fill: var(--branco);
}

/*.btn-add-servico:hover .note-icon{
    stroke: white;
    fill: white;
}

.btn-add-orcamento:hover .dollar-icon{
   stroke-width: white;
   fill: var(--branco);
} */

.popup-cliente,
.popup-servico,
.popup-orcamento {
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
    color: var(--branco);
    background-color: var(--amarelo-modal-default);
}

.popup-cliente .popup-titulo-cliente,
.popup-servico .popup-titulo-servico,
.popup-orcamento .popup-titulo-orcamento {
    font-size: 24px;
    font-family: fontBold;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input, select {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    color: var(--branco);
    background-color: transparent;
    border: solid 1px var(--branco);
    border-radius: 12px;
    padding: 8px;
    outline: none;
}

.btn-forms {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 1rem;

}

.btn-cancel-form, 
.btn-confirm-form {
    font-size: 16px;
    font-family: fontBold;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.modal {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);

}

